# Làm việc với Series

Trước khi sử dụng chúng ta cần phải tải thư viện `Pandas` và `Numpy`

In [45]:
import pandas as pd
import numpy as np

In [46]:
#Ví dụ 1: Không truyền index
s = pd.Series([0,1,2,3])
print(s)

0    0
1    1
2    2
3    3
dtype: int64

In [47]:
#Ví dụ 2: Có truyền index
s = pd.Series([0,1,2,3], index=['a','b','c','d'])
print(s)

a    0
b    1
c    2
d    3
dtype: int64

In [48]:
#Ví dụ 3: Tạo Series từ dict
data = {'a' : -1.3, 'b' : 11.7, 'd' : 2.0, 'f': 10, 'g': 5}
ser = pd.Series(data,index=['a','c','b','d','e','f'])
print(ser)

a    -1.3
c     NaN
b    11.7
d     2.0
e     NaN
f    10.0
dtype: float64

In [49]:
#Ví dụ 4: Tạo Series từ Scalar Nếu dữ liệu là một giá trị scalar, index phải được cung cấp. Giá trị sẽ được lặp lại để phù hợp với độ dài của index.
ser = pd.Series(5, index=[1, 2, 3, 4, 5])
print(ser)

1    5
2    5
3    5
4    5
5    5
dtype: int64

In [50]:
#Tạo dữ liệu Series 5:
S = pd.Series(np.random.randint(100, size = 4))
print(S)
print(S.index)
print(S.values)

0    22
1    81
2    70
3     2
dtype: int32
RangeIndex(start=0, stop=4, step=1)
[22 81 70  2]

In [51]:
#Tạo dữ liệu Series 6:
chi_so = ["Ke toan", "KT", "CNTT", "Co khi"]
gia_tri = [310, 360, 580, 340]
S = pd.Series(gia_tri, index=chi_so)
print(S)
print(S.index)
print(S.values)

Ke toan    310
KT         360
CNTT       580
Co khi     340
dtype: int64
Index(['Ke toan', 'KT', 'CNTT', 'Co khi'], dtype='object')
[310 360 580 340]

In [52]:
#Tạo dữ liệu Series 7:
chi_so = ["KT", "KT", "CNTT", "Co khi"] # trùng KT với nhau
gia_tri = [310, 360, 580, 340]
S = pd.Series(gia_tri, index=chi_so)
print(S)
print(S.index)
print(S.values)

KT        310
KT        360
CNTT      580
Co khi    340
dtype: int64
Index(['KT', 'KT', 'CNTT', 'Co khi'], dtype='object')
[310 360 580 340]

In [53]:
#Ví dụ 1: Lấy dữ liệu tại index cụ thể.
data = {'a' : -1.3, 'b' : 11.7, 'd' : 2.0, 'f': 10, 'g': 5}
ser = pd.Series(data,index=['a','c','b','d','e','f'])
print(ser['d'])
print(ser['c'])
print(ser)

2.0
nan
a    -1.3
c     NaN
b    11.7
d     2.0
e     NaN
f    10.0
dtype: float64

In [54]:
#Ví dụ 2: Lấy dữ liệu từ đầu đến vị trí index cụ thể
data = {'a' : -1.3, 'b' : 11.7, 'd' : 2.0, 'f': 10, 'g': 5}
ser = pd.Series(data,index=['a','c','b','d','e','f'])
print(ser[:'d'])

a    -1.3
c     NaN
b    11.7
d     2.0
dtype: float64

In [55]:
#Ví dụ 3: Lấy dữ liệu theo vị trí: 2 dữ liệu đầu
data = {'a' : -1.3, 'b' : 11.7, 'd' : 2.0, 'f': 10, 'g': 5}
ser = pd.Series(data,index=['a','c','b','d','e','f'])
print(ser[:2])

a   -1.3
c    NaN
dtype: float64

In [56]:
#Ví dụ 4: Lấy 3 dữ liệu cuối
data = {'a' : -1.3, 'b' : 11.7, 'd' : 2.0, 'f': 10, 'g': 5}
ser = pd.Series(data,index=['a','c','b','d','e','f'])
print(ser[-3:])

d     2.0
e     NaN
f    10.0
dtype: float64

In [57]:
#Chuyển đổi sang dạng khác
#Ví dụ 5: Lấy dạng array của Series bằng numpy.asarray
data = {'a' : -1.3, 'b' : 11.7, 'd' : 2.0, 'f': 10, 'g': 5}
ser = pd.Series(data,index=['a','c','b','d','e','f'])
a = np.asarray(ser)
print(a)

[-1.3  nan 11.7  2.   nan 10. ]

In [58]:
#Truy xuất dữ liệu thông qua chỉ số:
chi_so = ["KT", "KT", "CNTT", "Co khi"] # trùng nhau
gia_tri = [310, 360, 580, 340]
S = pd.Series(gia_tri, index=chi_so)
print(S['Co khi'])
print(S['KT'])
print(S.CNTT)

340
KT    310
KT    360
dtype: int64
580

In [59]:
#Phép toán trên Series:
chi_so = ["Ke toan", "KT", "CNTT", "Co khi"]
gia_tri = [310, 360, 580, 340]
# chỉ số giống nhau thì tính gộp, nếu không thì NaN
S = pd.Series(gia_tri, index=chi_so)
P = pd.Series([100, 100], ['CNTT', 'PM'])
Y = S + P
print(Y)

CNTT       680.0
Co khi       NaN
KT           NaN
Ke toan      NaN
PM           NaN
dtype: float64

### Một số phương thức hữu ích:

In [ ]:
'''
 S.axes: trả về danh sách các chỉ mục của S
 S.dtype: trả về kiểu dữ liệu các phần tử của S
 S.empty: trả về True nếu S rỗng
 S.ndim: trả về số chiều của S (1)
 S.size: trả về số phần tử của S
 S.values: trả về list các phần tử của S
 S.head(n): trả về n phần tử đầu tiên của S
 S.tail(n): trả về n phần tử cuối cùng của S
'''

In [43]:
#Hàm Apply():
def Tang(x):
    return x if x > 500 else x + 1000
chi_so = ["Ke toan", "KT", "CNTT", "Co khi"]
gia_tri = [310, 360, 580, 340]
S = pd.Series(gia_tri, chi_so)
# áp dụng Tang trên S (không thay đổi S)
print(S.apply(Tang))

Ke toan    1310
KT         1360
CNTT        580
Co khi     1340
dtype: int64

# Làm việc với Dataframe

In [63]:
#Tạo DataFrame từ dict các Series 2:
# tạo dict từ các series
s = {'một': pd.Series([1., 2., 3., 5.], index=['a', 'b', 'c', 'e']),
'hai': pd.Series([1., 2., 3., 4.], index=['a', 'b', 'c', 'd'])}
# tạo DataFrame từ dict theo các index được chọn
df = pd.DataFrame(s, index=['a','c','d'])
print(df)

   một  hai
a  1.0  1.0
c  3.0  3.0
d  NaN  4.0

In [64]:
#Tạo dataframe tử list:
names = ['MIT',"Stanford","DHTL"]
df = pd.DataFrame(names)
print(df)
names_rank=[['MIT',1],["Stanford",2],["DHTL",200]]
df = pd.DataFrame(names_rank)
print(df)

          0
0       MIT
1  Stanford
2      DHTL
          0    1
0       MIT    1
1  Stanford    2
2      DHTL  200

In [65]:
#Tạo dataframe tử dictionary các list:
crimes_rates = {
"Year":[1960,1961,1962,1963,1964],
"Population":[179323175,182992000,185771000,188483000,191141000],
"Total":[3384200,3488000,3752200,4109500,4564600],
"Violent":[288460,289390,301510,316970,364220] }
crimes_dataframe = pd.DataFrame(crimes_rates)
print(crimes_dataframe)

   Year  Population    Total  Violent
0  1960   179323175  3384200   288460
1  1961   182992000  3488000   289390
2  1962   185771000  3752200   301510
3  1963   188483000  4109500   316970
4  1964   191141000  4564600   364220

In [66]:
#Tạo dataframe tử list các dictionary:
data = [ {'MIT': 5000, 'Stanford': 4500, "DHTL":15000},
{'MIT': 1, 'Stanford': 2, "DHTL":200} ]
df = pd.DataFrame(data, index=['NumOfStudents', "ranking"])
print(df)
print(df.DHTL.dtype)

                MIT  Stanford   DHTL
NumOfStudents  5000      4500  15000
ranking           1         2    200
int64

In [67]:
#Tạo dataframe tử dictionary series:
data = { "one": pd.Series([1,23,45], index = [1,2,3]),
"two": pd.Series([1000,2400,1132,3434], index = [1,2,3,4]) }
df = pd.DataFrame(data)
print(df)

    one   two
1   1.0  1000
2  23.0  2400
3  45.0  1132
4   NaN  3434

In [68]:
#Các thao tác chọn, thêm, xóa cột
#Ví dụ 3: Chọn cột (column selection)
s = {'một': pd.Series([1., 2., 3., 5.], index=['a', 'b', 'c', 'e']),
'hai': pd.Series([1., 2., 3., 4.], index=['a', 'b', 'c', 'd']),
'ba': pd.Series([9., -1.3, 3.5, 41.1], index=['a', 'b', 'c', 'd'])}
df = pd.DataFrame(s)
# chọn cột hai
df_hai = df['hai']
print(df_hai)

a    1.0
b    2.0
c    3.0
d    4.0
e    NaN
Name: hai, dtype: float64

In [72]:
#Các thao tác chọn, thêm, xóa cột
#Ví dụ 4: Một số cách thêm cột (column addition)
s = {'một': pd.Series([1., 2., 3., 5.], index=['a', 'b', 'c', 'e']),
'hai': pd.Series([1., 2., 3., 4.], index=['a', 'b', 'c', 'd']),
'ba': pd.Series([9., -1.3, 3.5, 41.1], index=['a', 'b', 'c', 'd'])}
df = pd.DataFrame(s)
# thêm cột bốn với giá trị mỗi ô theo công thức
df['bốn'] = df['hai'] - df['ba']
print(df['hai'])

a    1.0
b    2.0
c    3.0
d    4.0
e    NaN
Name: hai, dtype: float64

In [74]:
#Các thao tác chọn, thêm, xóa cột
# thêm cột với giá trị vô hướng (scalar value)
df['Chuẩn'] = 'OK'
# thêm cột không cùng số lượng index với DataFrame
df['Khác'] = df['hai'][:3]
# thêm cột True/False theo điều kiện
df['KT'] = df['một'] == 3.0
# dùng hàm insert. Cột "chèn" bên dưới sẽ ở vị trí 2 (tính từ 0), có giá trị bằng cột một
df.insert(2, 'chèn', df['một'])
print(df)

   một  hai  chèn    ba   bốn Chuẩn  Khác     KT
a  1.0  1.0   1.0   9.0  -8.0    OK   1.0  False
b  2.0  2.0   2.0  -1.3   3.3    OK   2.0  False
c  3.0  3.0   3.0   3.5  -0.5    OK   3.0   True
d  NaN  4.0   NaN  41.1 -37.1    OK   NaN  False
e  5.0  NaN   5.0   NaN   NaN    OK   NaN  False

In [76]:
#Ví dụ 5: Xóa cột (column deletion). Có thể xóa cột bằng lệnh def hoặc hàm pop
s = {'một': pd.Series([1., 2., 3., 5.], index=['a', 'b', 'c', 'e']),
'hai': pd.Series([1., 2., 3., 4.], index=['a', 'b', 'c', 'd']),
'ba': pd.Series([9., -1.3, 3.5, 41.1], index=['a', 'b', 'c', 'd'])}
df = pd.DataFrame(s)
# xóa cột hai
del df['hai']
# pop cột ba với dict tv_ba
tv_ba = df.pop('ba')
print( df)

   một
a  1.0
b  2.0
c  3.0
d  NaN
e  5.0

In [78]:
# Các thao tác chọn, thêm, xóa cột
# Ví dụ 1: Chọn dòng theo labe
s = {'một': pd.Series([1., 2., 3., 5.], index=['a', 'b', 'c', 'e']),
'hai': pd.Series([1., 2., 3., 4.], index=['a', 'b', 'c', 'd']),
'ba': pd.Series([9., -1.3, 3.5, 41.1], index=['a', 'b', 'c', 'd'])}
df = pd.DataFrame(s)
# chọn dòng theo label
d = df.loc['a']
print(d)

một    1.0
hai    1.0
ba     9.0
Name: a, dtype: float64

In [79]:
#Ví dụ 2: Chọn dòng theo vị trí nguyên
s = {'một': pd.Series([1., 2., 3., 5.], index=['a', 'b', 'c', 'e']),
'hai': pd.Series([1., 2., 3., 4.], index=['a', 'b', 'c', 'd']),
'ba': pd.Series([9., -1.3, 3.5, 41.1], index=['a', 'b', 'c', 'd'])}
df = pd.DataFrame(s)
# chọn dòng theo vị trí nguyên
d = df.iloc[4]
print(d)

một    5.0
hai    NaN
ba     NaN
Name: e, dtype: float64

In [205]:
#Ví dụ 3: Cắt (slice) các dòng
s = {'một': pd.Series([1., 2., 3., 5.], index=['a', 'b', 'c', 'e']),
'hai': pd.Series([1., 2., 3., 4.], index=['a', 'b', 'c', 'd']),
'ba': pd.Series([9., -1.3, 3.5, 41.1], index=['a', 'b', 'c', 'd'])}
df = pd.DataFrame(s)
# cắt lấy ra từ dòng 3 đến dòng 4
d = df[2:4]
print(d)

   một  hai    ba
c  3.0  3.0   3.5
d  NaN  4.0  41.1

# Cách đọc dữ liệu trong Pandas

Đọc bộ dữ liệu `sample_grades.csv`

Bộ dữ liệu này chứa kết quả đánh giá điểm của sinh viên (Pass hoặc Fail) cho một lớp học gồm 40 sinh viên.

Dữ liệu có các trường dữ liệu như sau:

- `Student ID`: mã sinh viên


- `Gender`: giới tính


- `Project Phase 1`: điểm project giai đoạn 1, tối đa 20 điểm.


- `Project Phase 2`: điểm project giai đoạn 2, tối đa 30 điểm.


- `Mid-Semester Test`: điểm giữa kỳ, tối đa 100 điểm


- `Final Exam`: điểm cuối kỳ, tối đa 100 điểm.


- `Grade`: Xếp loại sinh viên đậu (PA) hay rớt (NN)

Trước tiên, cần đọc dữ liệu.

In [142]:
#Cách đọc dữ liệu từ một file CSV
grades = pd.read_csv('sample_grades.csv', header=0)

# Cách xuất dữ liệu từ DataFrame ra file CSV

In [136]:
#Cách xuất dữ liệu từ DataFrame ra file CSV
df.to_csv('sample_grades.csv')

# Cách tạo ra dữ liệu Test

In [104]:
#Tạo ra một bảng gồm 23 dòng và 4 cột, được điền vào những giá trị ngẫu nhiên từ Numpy
pd.DataFrame(np.random.rand(23,4))

           0         1         2         3
0   0.619936  0.693036  0.816917  0.463500
1   0.034502  0.557377  0.877002  0.217858
2   0.125841  0.479769  0.369142  0.160976
3   0.512290  0.470293  0.942856  0.125242
4   0.723619  0.149343  0.727792  0.976695
5   0.286497  0.568475  0.064308  0.693451
6   0.732560  0.850417  0.658763  0.237938
7   0.283885  0.127292  0.883669  0.080524
8   0.180149  0.084879  0.194515  0.207224
9   0.398099  0.389738  0.282127  0.787774
10  0.824742  0.602728  0.265868  0.799907
11  0.343017  0.898384  0.035249  0.749350
12  0.277482  0.162923  0.722743  0.558522
13  0.623765  0.743461  0.933162  0.720676
14  0.206293  0.480647  0.745354  0.853688
15  0.870489  0.299398  0.448738  0.928293
16  0.486470  0.776174  0.754975  0.652405
17  0.749993  0.332979  0.370331  0.319796
18  0.651652  0.139770  0.099645  0.564769
19  0.272193  0.892404  0.961664  0.321854
20  0.437267  0.921316  0.682995  0.222607
21  0.003670  0.208788  0.939503  0.962455
22  0.754279  0.625451  0.413701  0.608063

In [108]:
#Cách tạo ra series từ một list
pd.Series([1,2,3,4,5])

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [134]:
#Cách thêm index là cột ngày tháng
df.index = pd.date_range( '1999/1/31', periods=df.shape[0])
print(df)

            một  hai    ba
1999-01-31  1.0  1.0   9.0
1999-02-01  2.0  2.0  -1.3
1999-02-02  3.0  3.0   3.5
1999-02-03  NaN  4.0  41.1
1999-02-04  5.0  NaN   NaN

# Cách xem và kiểm tra dữ liệu

In [144]:
#Cách xem n dòng đầu tiên của DataFrame
grades.head(10)

,Student ID,Gender,Project Phase 1,Project Phase 2,Mid-Semester Test,Final Exam,Grade
0,101,Male,18.25,15.5,94,61.0,PA
1,102,Female,17.75,30.0,79,62.0,PA
2,103,Male,0.00,0.0,78,15.0,NN
3,104,Male,20.00,25.0,69,65.0,PA
4,105,Male,18.75,30.0,96,51.0,PA
5,106,Male,17.00,23.5,80,59.0,PA
6,107,NaN,19.75,19.5,82,76.0,PA
7,108,Male,20.00,28.0,95,44.0,PA
8,109,M,18.00,23.0,50,33.0,NN
9,110,Female,20.00,30.0,92,63.0,PA

In [145]:
#Cách xem n dòng cuối cùng của DataFrame
grades.tail(10)

,Student ID,Gender,Project Phase 1,Project Phase 2,Mid-Semester Test,Final Exam,Grade
30,131,Male,0.00,NaN,60,NaN,NN
31,132,Female,17.50,20.0,42,47.0,NN
32,133,F,20.00,28.0,58,74.0,PA
33,134,Male,20.00,15.5,46,76.0,PA
34,135,Male,20.00,30.0,61,6.0,NN
35,136,Male,18.50,22.0,26,68.0,PA
36,137,Female,20.00,26.0,89,63.0,PA
37,138,Male,18.75,30.0,59,52.0,PA
38,139,Male,19.00,30.0,70,NaN,PA
39,140,Male,20.00,29.0,84,77.0,PA

In [146]:
#Cách lấy số dòng số cột của DataFrame
grades.shape

(40, 7)

In [147]:
#Xem thông tin về Index, kiểu dữ liệu và dung lượng của DataFrame
grades.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Student ID         40 non-null     int64
 1   Gender             37 non-null     object
 2   Project Phase 1    40 non-null     float64
 3   Project Phase 2    37 non-null     float64
 4   Mid-Semester Test  40 non-null     int64
 5   Final Exam         36 non-null     float64
 6   Grade              40 non-null     object
dtypes: float64(3), int64(2), object(2)
memory usage: 2.3+ KB

In [148]:
#Tổng kết thông tin thống kê cho các cột có kiểu dữ liệu là số
grades.describe()

,Student ID,Project Phase 1,Project Phase 2,Mid-Semester Test,Final Exam
count,40.000000,40.000000,37.000000,40.000000,36.000000
mean,120.500000,16.987500,23.750000,72.100000,56.055556
std,11.690452,5.964626,7.509716,19.664885,20.520296
min,101.000000,0.000000,0.000000,26.000000,6.000000
25%,110.750000,17.687500,20.000000,59.750000,45.500000
50%,120.500000,19.500000,25.500000,76.000000,60.000000
75%,130.250000,20.000000,30.000000,86.000000,71.750000
max,140.000000,20.000000,35.000000,100.000000,91.000000

In [150]:
#Xem giá trị duy nhất và đếm số giá trị này, đếm cả trường hợp NA
#Lưu ý Áp dụng cho đối tượng Series
grades.value_counts(dropna=False)

Student ID  Gender  Project Phase 1  Project Phase 2  Mid-Semester Test  Final Exam  Grade
101         Male    18.25            15.50            94                 61.0        PA       1
102         Female  17.75            30.00            79                 62.0        PA       1
103         Male    0.00             0.00             78                 15.0        NN       1
104         Male    20.00            25.00            69                 65.0        PA       1
105         Male    18.75            30.00            96                 51.0        PA       1
106         Male    17.00            23.50            80                 59.0        PA       1
107         NaN     19.75            19.50            82                 76.0        PA       1
108         Male    20.00            28.00            95                 44.0        PA       1
109         M       18.00            23.00            50                 33.0        NN       1
110         Female  20.00            30.00            92                 63.0        PA       1
111         Female  19.50            13.00            95                 52.0        PA       1
112         Female  0.00             NaN              100                NaN         PA       1
113         Female  0.00             NaN              67                 NaN         NN       1
114         Male    20.00            22.75            85                 78.0        PA       1
115         Male    19.50            26.00            100                79.0        PA       1
116         Female  20.00            25.50            97                 52.0        PA       1
117         NaN     15.75            10.00            81                 34.0        NN       1
118         Male    12.50            10.00            30                 22.0        NN       1
119         Male    17.50            20.00            61                 31.0        NN       1
120         Male    14.50            23.50            54                 58.0        PA       1
121         Female  17.75            30.00            56                 46.0        PA       1
122         Female  20.00            23.00            37                 25.0        NN       1
123         Male    19.75            30.00            74                 61.0        PA       1
124         Male    20.00            30.00            90                 71.0        PA       1
125         NaN     20.00            29.50            70                 62.0        PA       1
126         Female  20.00            22.50            83                 56.0        PA       1
127         Female  20.00            35.00            84                 83.0        PA       1
128         Female  20.00            30.00            84                 91.0        PA       1
129         Male    20.00            30.00            64                 86.0        PA       1
130         Male    19.50            13.00            62                 39.0        NN       1
131         Male    0.00             NaN              60                 NaN         NN       1
132         Female  17.50            20.00            42                 47.0        NN       1
133         F       20.00            28.00            58                 74.0        PA       1
134         Male    20.00            15.50            46                 76.0        PA       1
135         Male    20.00            30.00            61                 6.0         NN       1
136         Male    18.50            22.00            26                 68.0        PA       1
137         Female  20.00            26.00            89                 63.0        PA       1
138         Male    18.75            30.00            59                 52.0        PA       1
139         Male    19.00            30.00            70                 NaN         PA       1
140         Male    20.00            29.00            84                 77.0        PA       1
Name: count, dtype: int64

# Trích xuất một phần dữ liệu trong Pandas DataFrame

In [157]:
# Trả về một cột của DataFrame dưới dạng Series
# Trả về cột có label là col như một Series
grades['Gender']

0       Male
1     Female
2       Male
3       Male
4       Male
5       Male
6        NaN
7       Male
8          M
9     Female
10    Female
11    Female
12    Female
13      Male
14      Male
15    Female
16       NaN
17      Male
18      Male
19      Male
20    Female
21    Female
22      Male
23      Male
24       NaN
25    Female
26    Female
27    Female
28      Male
29      Male
30      Male
31    Female
32         F
33      Male
34      Male
35      Male
36    Female
37      Male
38      Male
39      Male
Name: Gender, dtype: object

In [156]:
#Trả về các cột trong danh sách dưới dạng một DataFrame mới
grades[['Student ID', 'Grade']]

    Student ID Grade
0          101    PA
1          102    PA
2          103    NN
3          104    PA
4          105    PA
5          106    PA
6          107    PA
7          108    PA
8          109    NN
9          110    PA
10         111    PA
11         112    PA
12         113    NN
13         114    PA
14         115    PA
15         116    PA
16         117    NN
17         118    NN
18         119    NN
19         120    PA
20         121    PA
21         122    NN
22         123    PA
23         124    PA
24         125    PA
25         126    PA
26         127    PA
27         128    PA
28         129    PA
29         130    NN
30         131    NN
31         132    NN
32         133    PA
33         134    PA
34         135    NN
35         136    PA
36         137    PA
37         138    PA
38         139    PA
39         140    PA

In [153]:
# Chọn dữ liệu theo vị trí
grades.iloc[0]

Student ID             101
Gender                Male
Project Phase 1      18.25
Project Phase 2       15.5
Mid-Semester Test       94
Final Exam            61.0
Grade                   PA
Name: 0, dtype: object

In [160]:
#Chọn dữ liệu theo index
grades.loc[1]

Student ID              102
Gender               Female
Project Phase 1       17.75
Project Phase 2        30.0
Mid-Semester Test        79
Final Exam             62.0
Grade                    PA
Name: 1, dtype: object

In [161]:
# Chọn dữ liệu ở dòng đầu tiên
grades.iloc[0,:]

Student ID             101
Gender                Male
Project Phase 1      18.25
Project Phase 2       15.5
Mid-Semester Test       94
Final Exam            61.0
Grade                   PA
Name: 0, dtype: object

In [162]:
#Chọn dữ liệu ở dòng đầu tiên, ô thứ nhất của DataFrame
grades.iloc[0,0]

np.int64(101)

# Cách làm sạch dữ liệu trong Pandas DataFrame

In [170]:
# Kiểm tra dữ liệu với giá trị null
grades.isnull()

,Student ID,Gender,Project Phase 1,Project Phase 2,Mid-Semester Test,Final Exam,Grade
0,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False
6,False,True,False,False,False,False,False
7,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False
11,False,False,False,True,False,True,False
12,False,False,False,True,False,True,False
13,False,False,False,False,False,False,False
14,False,False,False,False,False,False,False
15,False,False,False,False,False,False,False
16,False,True,False,False,False,False,False
17,False,False,False,False,False,False,False
18,False,False,False,False,False,False,False
19,False,False,False,False,False,False,False
20,False,False,False,False,False,False,False
21,False,False,False,False,False,False,False
22,False,False,False,False,False,False,False
23,False,False,False,False,False,False,False
24,False,True,False,False,False,False,False
25,False,False,False,False,False,False,False
26,False,False,False,False,False,False,False
27,False,False,False,False,False,False,False
28,False,False,False,False,False,False,False
29,False,False,False,False,False,False,False
30,False,False,False,True,False,True,False
31,False,False,False,False,False,False,False
32,False,False,False,False,False,False,False
33,False,False,False,False,False,False,False
34,False,False,False,False,False,False,False
35,False,False,False,False,False,False,False
36,False,False,False,False,False,False,False
37,False,False,False,False,False,False,False
38,False,False,False,False,False,True,False
39,False,False,False,False,False,False,False

In [171]:
#Kiểm tra dữ liệu với giá trị khác null
grades.notnull()

,Student ID,Gender,Project Phase 1,Project Phase 2,Mid-Semester Test,Final Exam,Grade
0,True,True,True,True,True,True,True
1,True,True,True,True,True,True,True
2,True,True,True,True,True,True,True
3,True,True,True,True,True,True,True
4,True,True,True,True,True,True,True
5,True,True,True,True,True,True,True
6,True,False,True,True,True,True,True
7,True,True,True,True,True,True,True
8,True,True,True,True,True,True,True
9,True,True,True,True,True,True,True
10,True,True,True,True,True,True,True
11,True,True,True,False,True,False,True
12,True,True,True,False,True,False,True
13,True,True,True,True,True,True,True
14,True,True,True,True,True,True,True
15,True,True,True,True,True,True,True
16,True,False,True,True,True,True,True
17,True,True,True,True,True,True,True
18,True,True,True,True,True,True,True
19,True,True,True,True,True,True,True
20,True,True,True,True,True,True,True
21,True,True,True,True,True,True,True
22,True,True,True,True,True,True,True
23,True,True,True,True,True,True,True
24,True,False,True,True,True,True,True
25,True,True,True,True,True,True,True
26,True,True,True,True,True,True,True
27,True,True,True,True,True,True,True
28,True,True,True,True,True,True,True
29,True,True,True,True,True,True,True
30,True,True,True,False,True,False,True
31,True,True,True,True,True,True,True
32,True,True,True,True,True,True,True
33,True,True,True,True,True,True,True
34,True,True,True,True,True,True,True
35,True,True,True,True,True,True,True
36,True,True,True,True,True,True,True
37,True,True,True,True,True,True,True
38,True,True,True,True,True,False,True
39,True,True,True,True,True,True,True

In [172]:
#Cách bỏ toàn bộ dòng có dữ liệu null
grades.dropna()

,Student ID,Gender,Project Phase 1,Project Phase 2,Mid-Semester Test,Final Exam,Grade
0,101,Male,18.25,15.50,94,61.0,PA
1,102,Female,17.75,30.00,79,62.0,PA
2,103,Male,0.00,0.00,78,15.0,NN
3,104,Male,20.00,25.00,69,65.0,PA
4,105,Male,18.75,30.00,96,51.0,PA
5,106,Male,17.00,23.50,80,59.0,PA
7,108,Male,20.00,28.00,95,44.0,PA
8,109,M,18.00,23.00,50,33.0,NN
9,110,Female,20.00,30.00,92,63.0,PA
10,111,Female,19.50,13.00,95,52.0,PA
13,114,Male,20.00,22.75,85,78.0,PA
14,115,Male,19.50,26.00,100,79.0,PA
15,116,Female,20.00,25.50,97,52.0,PA
17,118,Male,12.50,10.00,30,22.0,NN
18,119,Male,17.50,20.00,61,31.0,NN
19,120,Male,14.50,23.50,54,58.0,PA
20,121,Female,17.75,30.00,56,46.0,PA
21,122,Female,20.00,23.00,37,25.0,NN
22,123,Male,19.75,30.00,74,61.0,PA
23,124,Male,20.00,30.00,90,71.0,PA
25,126,Female,20.00,22.50,83,56.0,PA
26,127,Female,20.00,35.00,84,83.0,PA
27,128,Female,20.00,30.00,84,91.0,PA
28,129,Male,20.00,30.00,64,86.0,PA
29,130,Male,19.50,13.00,62,39.0,NN
31,132,Female,17.50,20.00,42,47.0,NN
32,133,F,20.00,28.00,58,74.0,PA
33,134,Male,20.00,15.50,46,76.0,PA
34,135,Male,20.00,30.00,61,6.0,NN
35,136,Male,18.50,22.00,26,68.0,PA
36,137,Female,20.00,26.00,89,63.0,PA
37,138,Male,18.75,30.00,59,52.0,PA
39,140,Male,20.00,29.00,84,77.0,PA

In [173]:
#Cách bỏ toàn bộ cột có dữ liệu null
grades.dropna(axis=1)

    Student ID  Project Phase 1  Mid-Semester Test Grade
0          101            18.25                 94    PA
1          102            17.75                 79    PA
2          103             0.00                 78    NN
3          104            20.00                 69    PA
4          105            18.75                 96    PA
5          106            17.00                 80    PA
6          107            19.75                 82    PA
7          108            20.00                 95    PA
8          109            18.00                 50    NN
9          110            20.00                 92    PA
10         111            19.50                 95    PA
11         112             0.00                100    PA
12         113             0.00                 67    NN
13         114            20.00                 85    PA
14         115            19.50                100    PA
15         116            20.00                 97    PA
16         117            15.75                 81    NN
17         118            12.50                 30    NN
18         119            17.50                 61    NN
19         120            14.50                 54    PA
20         121            17.75                 56    PA
21         122            20.00                 37    NN
22         123            19.75                 74    PA
23         124            20.00                 90    PA
24         125            20.00                 70    PA
25         126            20.00                 83    PA
26         127            20.00                 84    PA
27         128            20.00                 84    PA
28         129            20.00                 64    PA
29         130            19.50                 62    NN
30         131             0.00                 60    NN
31         132            17.50                 42    NN
32         133            20.00                 58    PA
33         134            20.00                 46    PA
34         135            20.00                 61    NN
35         136            18.50                 26    PA
36         137            20.00                 89    PA
37         138            18.75                 59    PA
38         139            19.00                 70    PA
39         140            20.00                 84    PA

In [174]:
#Cách bỏ các dòng có nhiều hơn n giá trị null
grades.dropna(axis=1, thresh=2)

,Student ID,Gender,Project Phase 1,Project Phase 2,Mid-Semester Test,Final Exam,Grade
0,101,Male,18.25,15.50,94,61.0,PA
1,102,Female,17.75,30.00,79,62.0,PA
2,103,Male,0.00,0.00,78,15.0,NN
3,104,Male,20.00,25.00,69,65.0,PA
4,105,Male,18.75,30.00,96,51.0,PA
5,106,Male,17.00,23.50,80,59.0,PA
6,107,NaN,19.75,19.50,82,76.0,PA
7,108,Male,20.00,28.00,95,44.0,PA
8,109,M,18.00,23.00,50,33.0,NN
9,110,Female,20.00,30.00,92,63.0,PA
10,111,Female,19.50,13.00,95,52.0,PA
11,112,Female,0.00,NaN,100,NaN,PA
12,113,Female,0.00,NaN,67,NaN,NN
13,114,Male,20.00,22.75,85,78.0,PA
14,115,Male,19.50,26.00,100,79.0,PA
15,116,Female,20.00,25.50,97,52.0,PA
16,117,NaN,15.75,10.00,81,34.0,NN
17,118,Male,12.50,10.00,30,22.0,NN
18,119,Male,17.50,20.00,61,31.0,NN
19,120,Male,14.50,23.50,54,58.0,PA
20,121,Female,17.75,30.00,56,46.0,PA
21,122,Female,20.00,23.00,37,25.0,NN
22,123,Male,19.75,30.00,74,61.0,PA
23,124,Male,20.00,30.00,90,71.0,PA
24,125,NaN,20.00,29.50,70,62.0,PA
25,126,Female,20.00,22.50,83,56.0,PA
26,127,Female,20.00,35.00,84,83.0,PA
27,128,Female,20.00,30.00,84,91.0,PA
28,129,Male,20.00,30.00,64,86.0,PA
29,130,Male,19.50,13.00,62,39.0,NN
30,131,Male,0.00,NaN,60,NaN,NN
31,132,Female,17.50,20.00,42,47.0,NN
32,133,F,20.00,28.00,58,74.0,PA
33,134,Male,20.00,15.50,46,76.0,PA
34,135,Male,20.00,30.00,61,6.0,NN
35,136,Male,18.50,22.00,26,68.0,PA
36,137,Female,20.00,26.00,89,63.0,PA
37,138,Male,18.75,30.00,59,52.0,PA
38,139,Male,19.00,30.00,70,NaN,PA
39,140,Male,20.00,29.00,84,77.0,PA

In [177]:
#Cách thay toàn bộ giá trị null bằng giá trị x
grades.fillna(100)

,Student ID,Gender,Project Phase 1,Project Phase 2,Mid-Semester Test,Final Exam,Grade
0,101,Male,18.25,15.50,94,61.0,PA
1,102,Female,17.75,30.00,79,62.0,PA
2,103,Male,0.00,0.00,78,15.0,NN
3,104,Male,20.00,25.00,69,65.0,PA
4,105,Male,18.75,30.00,96,51.0,PA
5,106,Male,17.00,23.50,80,59.0,PA
6,107,100,19.75,19.50,82,76.0,PA
7,108,Male,20.00,28.00,95,44.0,PA
8,109,M,18.00,23.00,50,33.0,NN
9,110,Female,20.00,30.00,92,63.0,PA
10,111,Female,19.50,13.00,95,52.0,PA
11,112,Female,0.00,100.00,100,100.0,PA
12,113,Female,0.00,100.00,67,100.0,NN
13,114,Male,20.00,22.75,85,78.0,PA
14,115,Male,19.50,26.00,100,79.0,PA
15,116,Female,20.00,25.50,97,52.0,PA
16,117,100,15.75,10.00,81,34.0,NN
17,118,Male,12.50,10.00,30,22.0,NN
18,119,Male,17.50,20.00,61,31.0,NN
19,120,Male,14.50,23.50,54,58.0,PA
20,121,Female,17.75,30.00,56,46.0,PA
21,122,Female,20.00,23.00,37,25.0,NN
22,123,Male,19.75,30.00,74,61.0,PA
23,124,Male,20.00,30.00,90,71.0,PA
24,125,100,20.00,29.50,70,62.0,PA
25,126,Female,20.00,22.50,83,56.0,PA
26,127,Female,20.00,35.00,84,83.0,PA
27,128,Female,20.00,30.00,84,91.0,PA
28,129,Male,20.00,30.00,64,86.0,PA
29,130,Male,19.50,13.00,62,39.0,NN
30,131,Male,0.00,100.00,60,100.0,NN
31,132,Female,17.50,20.00,42,47.0,NN
32,133,F,20.00,28.00,58,74.0,PA
33,134,Male,20.00,15.50,46,76.0,PA
34,135,Male,20.00,30.00,61,6.0,NN
35,136,Male,18.50,22.00,26,68.0,PA
36,137,Female,20.00,26.00,89,63.0,PA
37,138,Male,18.75,30.00,59,52.0,PA
38,139,Male,19.00,30.00,70,100.0,PA
39,140,Male,20.00,29.00,84,77.0,PA

In [191]:
#Cách đổi tên cột cụ thể trong DataFrame
grades.rename(columns={'Student ID': 'Name'})

,Name,Gender,Project Phase 1,Project Phase 2,Mid-Semester Test,Final Exam,Grade
0,101,Male,18.25,15.50,94,61.0,PA
1,102,Female,17.75,30.00,79,62.0,PA
2,103,Male,0.00,0.00,78,15.0,NN
3,104,Male,20.00,25.00,69,65.0,PA
4,105,Male,18.75,30.00,96,51.0,PA
5,106,Male,17.00,23.50,80,59.0,PA
6,107,NaN,19.75,19.50,82,76.0,PA
7,108,Male,20.00,28.00,95,44.0,PA
8,109,M,18.00,23.00,50,33.0,NN
9,110,Female,20.00,30.00,92,63.0,PA
10,111,Female,19.50,13.00,95,52.0,PA
11,112,Female,0.00,NaN,100,NaN,PA
12,113,Female,0.00,NaN,67,NaN,NN
13,114,Male,20.00,22.75,85,78.0,PA
14,115,Male,19.50,26.00,100,79.0,PA
15,116,Female,20.00,25.50,97,52.0,PA
16,117,NaN,15.75,10.00,81,34.0,NN
17,118,Male,12.50,10.00,30,22.0,NN
18,119,Male,17.50,20.00,61,31.0,NN
19,120,Male,14.50,23.50,54,58.0,PA
20,121,Female,17.75,30.00,56,46.0,PA
21,122,Female,20.00,23.00,37,25.0,NN
22,123,Male,19.75,30.00,74,61.0,PA
23,124,Male,20.00,30.00,90,71.0,PA
24,125,NaN,20.00,29.50,70,62.0,PA
25,126,Female,20.00,22.50,83,56.0,PA
26,127,Female,20.00,35.00,84,83.0,PA
27,128,Female,20.00,30.00,84,91.0,PA
28,129,Male,20.00,30.00,64,86.0,PA
29,130,Male,19.50,13.00,62,39.0,NN
30,131,Male,0.00,NaN,60,NaN,NN
31,132,Female,17.50,20.00,42,47.0,NN
32,133,F,20.00,28.00,58,74.0,PA
33,134,Male,20.00,15.50,46,76.0,PA
34,135,Male,20.00,30.00,61,6.0,NN
35,136,Male,18.50,22.00,26,68.0,PA
36,137,Female,20.00,26.00,89,63.0,PA
37,138,Male,18.75,30.00,59,52.0,PA
38,139,Male,19.00,30.00,70,NaN,PA
39,140,Male,20.00,29.00,84,77.0,PA

In [194]:
#Cách đổi index trong DataFrame
grades.set_index('Gender')

,Student ID,Project Phase 1,Project Phase 2,Mid-Semester Test,Final Exam,Grade
Gender,,,,,,
Male,101,18.25,15.50,94,61.0,PA
Female,102,17.75,30.00,79,62.0,PA
Male,103,0.00,0.00,78,15.0,NN
Male,104,20.00,25.00,69,65.0,PA
Male,105,18.75,30.00,96,51.0,PA
Male,106,17.00,23.50,80,59.0,PA
NaN,107,19.75,19.50,82,76.0,PA
Male,108,20.00,28.00,95,44.0,PA
M,109,18.00,23.00,50,33.0,NN
Female,110,20.00,30.00,92,63.0,PA
Female,111,19.50,13.00,95,52.0,PA
Female,112,0.00,NaN,100,NaN,PA
Female,113,0.00,NaN,67,NaN,NN
Male,114,20.00,22.75,85,78.0,PA
Male,115,19.50,26.00,100,79.0,PA
Female,116,20.00,25.50,97,52.0,PA
NaN,117,15.75,10.00,81,34.0,NN
Male,118,12.50,10.00,30,22.0,NN
Male,119,17.50,20.00,61,31.0,NN
Male,120,14.50,23.50,54,58.0,PA
Female,121,17.75,30.00,56,46.0,PA
Female,122,20.00,23.00,37,25.0,NN
Male,123,19.75,30.00,74,61.0,PA
Male,124,20.00,30.00,90,71.0,PA
NaN,125,20.00,29.50,70,62.0,PA
Female,126,20.00,22.50,83,56.0,PA
Female,127,20.00,35.00,84,83.0,PA
Female,128,20.00,30.00,84,91.0,PA
Male,129,20.00,30.00,64,86.0,PA
Male,130,19.50,13.00,62,39.0,NN
Male,131,0.00,NaN,60,NaN,NN
Female,132,17.50,20.00,42,47.0,NN
F,133,20.00,28.00,58,74.0,PA
Male,134,20.00,15.50,46,76.0,PA
Male,135,20.00,30.00,61,6.0,NN
Male,136,18.50,22.00,26,68.0,PA
Female,137,20.00,26.00,89,63.0,PA
Male,138,18.75,30.00,59,52.0,PA
Male,139,19.00,30.00,70,NaN,PA
Male,140,20.00,29.00,84,77.0,PA

In [195]:
#Cách đổi index hàng loạt trong DataFrame
grades.rename(index=lambda x: x + 1)

,Student ID,Gender,Project Phase 1,Project Phase 2,Mid-Semester Test,Final Exam,Grade
1,101,Male,18.25,15.50,94,61.0,PA
2,102,Female,17.75,30.00,79,62.0,PA
3,103,Male,0.00,0.00,78,15.0,NN
4,104,Male,20.00,25.00,69,65.0,PA
5,105,Male,18.75,30.00,96,51.0,PA
6,106,Male,17.00,23.50,80,59.0,PA
7,107,NaN,19.75,19.50,82,76.0,PA
8,108,Male,20.00,28.00,95,44.0,PA
9,109,M,18.00,23.00,50,33.0,NN
10,110,Female,20.00,30.00,92,63.0,PA
11,111,Female,19.50,13.00,95,52.0,PA
12,112,Female,0.00,NaN,100,NaN,PA
13,113,Female,0.00,NaN,67,NaN,NN
14,114,Male,20.00,22.75,85,78.0,PA
15,115,Male,19.50,26.00,100,79.0,PA
16,116,Female,20.00,25.50,97,52.0,PA
17,117,NaN,15.75,10.00,81,34.0,NN
18,118,Male,12.50,10.00,30,22.0,NN
19,119,Male,17.50,20.00,61,31.0,NN
20,120,Male,14.50,23.50,54,58.0,PA
21,121,Female,17.75,30.00,56,46.0,PA
22,122,Female,20.00,23.00,37,25.0,NN
23,123,Male,19.75,30.00,74,61.0,PA
24,124,Male,20.00,30.00,90,71.0,PA
25,125,NaN,20.00,29.50,70,62.0,PA
26,126,Female,20.00,22.50,83,56.0,PA
27,127,Female,20.00,35.00,84,83.0,PA
28,128,Female,20.00,30.00,84,91.0,PA
29,129,Male,20.00,30.00,64,86.0,PA
30,130,Male,19.50,13.00,62,39.0,NN
31,131,Male,0.00,NaN,60,NaN,NN
32,132,Female,17.50,20.00,42,47.0,NN
33,133,F,20.00,28.00,58,74.0,PA
34,134,Male,20.00,15.50,46,76.0,PA
35,135,Male,20.00,30.00,61,6.0,NN
36,136,Male,18.50,22.00,26,68.0,PA
37,137,Female,20.00,26.00,89,63.0,PA
38,138,Male,18.75,30.00,59,52.0,PA
39,139,Male,19.00,30.00,70,NaN,PA
40,140,Male,20.00,29.00,84,77.0,PA

# Cách lọc, sắp xếp, nhóm dữ liệu trong Pandas DataFrame

In [199]:
# Lọc dữ liệu theo điều kiện
# Lọc ra các dòng thỏa mãn điều kiện col bé hơn 50
grades[ grades['Final Exam'] < 50 ]

,Student ID,Gender,Project Phase 1,Project Phase 2,Mid-Semester Test,Final Exam,Grade
2,103,Male,0.00,0.0,78,15.0,NN
7,108,Male,20.00,28.0,95,44.0,PA
8,109,M,18.00,23.0,50,33.0,NN
16,117,NaN,15.75,10.0,81,34.0,NN
17,118,Male,12.50,10.0,30,22.0,NN
18,119,Male,17.50,20.0,61,31.0,NN
20,121,Female,17.75,30.0,56,46.0,PA
21,122,Female,20.00,23.0,37,25.0,NN
29,130,Male,19.50,13.0,62,39.0,NN
31,132,Female,17.50,20.0,42,47.0,NN
34,135,Male,20.00,30.0,61,6.0,NN

In [217]:
#Lọc ra các dòng thỏa mãn điều kiện: có giá trị cột col trong khoảng 50 đến 100
grades[(grades['Final Exam'] > 50) & (grades['Final Exam'] < 100)]

,Student ID,Gender,Project Phase 1,Project Phase 2,Mid-Semester Test,Final Exam,Grade
0,101,Male,18.25,15.50,94,61.0,PA
1,102,Female,17.75,30.00,79,62.0,PA
3,104,Male,20.00,25.00,69,65.0,PA
4,105,Male,18.75,30.00,96,51.0,PA
5,106,Male,17.00,23.50,80,59.0,PA
6,107,NaN,19.75,19.50,82,76.0,PA
9,110,Female,20.00,30.00,92,63.0,PA
10,111,Female,19.50,13.00,95,52.0,PA
13,114,Male,20.00,22.75,85,78.0,PA
14,115,Male,19.50,26.00,100,79.0,PA
15,116,Female,20.00,25.50,97,52.0,PA
19,120,Male,14.50,23.50,54,58.0,PA
22,123,Male,19.75,30.00,74,61.0,PA
23,124,Male,20.00,30.00,90,71.0,PA
24,125,NaN,20.00,29.50,70,62.0,PA
25,126,Female,20.00,22.50,83,56.0,PA
26,127,Female,20.00,35.00,84,83.0,PA
27,128,Female,20.00,30.00,84,91.0,PA
28,129,Male,20.00,30.00,64,86.0,PA
32,133,F,20.00,28.00,58,74.0,PA
33,134,Male,20.00,15.50,46,76.0,PA
35,136,Male,18.50,22.00,26,68.0,PA
36,137,Female,20.00,26.00,89,63.0,PA
37,138,Male,18.75,30.00,59,52.0,PA
39,140,Male,20.00,29.00,84,77.0,PA

In [218]:
# Sắp xếp dữ liệu
# Sắp xếp dữ liệu trong cột col1 theo chiều thuận (ascending)
grades.sort_values('Final Exam')

,Student ID,Gender,Project Phase 1,Project Phase 2,Mid-Semester Test,Final Exam,Grade
34,135,Male,20.00,30.00,61,6.0,NN
2,103,Male,0.00,0.00,78,15.0,NN
17,118,Male,12.50,10.00,30,22.0,NN
21,122,Female,20.00,23.00,37,25.0,NN
18,119,Male,17.50,20.00,61,31.0,NN
8,109,M,18.00,23.00,50,33.0,NN
16,117,NaN,15.75,10.00,81,34.0,NN
29,130,Male,19.50,13.00,62,39.0,NN
7,108,Male,20.00,28.00,95,44.0,PA
20,121,Female,17.75,30.00,56,46.0,PA
31,132,Female,17.50,20.00,42,47.0,NN
4,105,Male,18.75,30.00,96,51.0,PA
10,111,Female,19.50,13.00,95,52.0,PA
15,116,Female,20.00,25.50,97,52.0,PA
37,138,Male,18.75,30.00,59,52.0,PA
25,126,Female,20.00,22.50,83,56.0,PA
19,120,Male,14.50,23.50,54,58.0,PA
5,106,Male,17.00,23.50,80,59.0,PA
0,101,Male,18.25,15.50,94,61.0,PA
22,123,Male,19.75,30.00,74,61.0,PA
1,102,Female,17.75,30.00,79,62.0,PA
24,125,NaN,20.00,29.50,70,62.0,PA
36,137,Female,20.00,26.00,89,63.0,PA
9,110,Female,20.00,30.00,92,63.0,PA
3,104,Male,20.00,25.00,69,65.0,PA
35,136,Male,18.50,22.00,26,68.0,PA
23,124,Male,20.00,30.00,90,71.0,PA
32,133,F,20.00,28.00,58,74.0,PA
6,107,NaN,19.75,19.50,82,76.0,PA
33,134,Male,20.00,15.50,46,76.0,PA
39,140,Male,20.00,29.00,84,77.0,PA
13,114,Male,20.00,22.75,85,78.0,PA
14,115,Male,19.50,26.00,100,79.0,PA
26,127,Female,20.00,35.00,84,83.0,PA
28,129,Male,20.00,30.00,64,86.0,PA
27,128,Female,20.00,30.00,84,91.0,PA

In [219]:
# Sắp xếp dữ liệu trong cột col2 theo chiều nghịch (descending)
grades.sort_values('Final Exam', ascending=False)

,Student ID,Gender,Project Phase 1,Project Phase 2,Mid-Semester Test,Final Exam,Grade
27,128,Female,20.00,30.00,84,91.0,PA
28,129,Male,20.00,30.00,64,86.0,PA
26,127,Female,20.00,35.00,84,83.0,PA
14,115,Male,19.50,26.00,100,79.0,PA
13,114,Male,20.00,22.75,85,78.0,PA
39,140,Male,20.00,29.00,84,77.0,PA
6,107,NaN,19.75,19.50,82,76.0,PA
33,134,Male,20.00,15.50,46,76.0,PA
32,133,F,20.00,28.00,58,74.0,PA
23,124,Male,20.00,30.00,90,71.0,PA
35,136,Male,18.50,22.00,26,68.0,PA
3,104,Male,20.00,25.00,69,65.0,PA
36,137,Female,20.00,26.00,89,63.0,PA
9,110,Female,20.00,30.00,92,63.0,PA
1,102,Female,17.75,30.00,79,62.0,PA
24,125,NaN,20.00,29.50,70,62.0,PA
22,123,Male,19.75,30.00,74,61.0,PA
0,101,Male,18.25,15.50,94,61.0,PA
5,106,Male,17.00,23.50,80,59.0,PA
19,120,Male,14.50,23.50,54,58.0,PA
25,126,Female,20.00,22.50,83,56.0,PA
37,138,Male,18.75,30.00,59,52.0,PA
15,116,Female,20.00,25.50,97,52.0,PA
10,111,Female,19.50,13.00,95,52.0,PA
4,105,Male,18.75,30.00,96,51.0,PA
31,132,Female,17.50,20.00,42,47.0,NN
20,121,Female,17.75,30.00,56,46.0,PA
7,108,Male,20.00,28.00,95,44.0,PA
29,130,Male,19.50,13.00,62,39.0,NN
16,117,NaN,15.75,10.00,81,34.0,NN
8,109,M,18.00,23.00,50,33.0,NN
18,119,Male,17.50,20.00,61,31.0,NN
21,122,Female,20.00,23.00,37,25.0,NN
17,118,Male,12.50,10.00,30,22.0,NN
2,103,Male,0.00,0.00,78,15.0,NN
34,135,Male,20.00,30.00,61,6.0,NN

In [222]:
#Sắp xếp col1 theo chiều thuận và col2 theo chiều nghịch
grades.sort_values(['Mid-Semester Test','Final Exam'],ascending=[True,False])

,Student ID,Gender,Project Phase 1,Project Phase 2,Mid-Semester Test,Final Exam,Grade
35,136,Male,18.50,22.00,26,68.0,PA
17,118,Male,12.50,10.00,30,22.0,NN
21,122,Female,20.00,23.00,37,25.0,NN
31,132,Female,17.50,20.00,42,47.0,NN
33,134,Male,20.00,15.50,46,76.0,PA
8,109,M,18.00,23.00,50,33.0,NN
19,120,Male,14.50,23.50,54,58.0,PA
20,121,Female,17.75,30.00,56,46.0,PA
32,133,F,20.00,28.00,58,74.0,PA
37,138,Male,18.75,30.00,59,52.0,PA
18,119,Male,17.50,20.00,61,31.0,NN
34,135,Male,20.00,30.00,61,6.0,NN
29,130,Male,19.50,13.00,62,39.0,NN
28,129,Male,20.00,30.00,64,86.0,PA
3,104,Male,20.00,25.00,69,65.0,PA
24,125,NaN,20.00,29.50,70,62.0,PA
22,123,Male,19.75,30.00,74,61.0,PA
2,103,Male,0.00,0.00,78,15.0,NN
1,102,Female,17.75,30.00,79,62.0,PA
5,106,Male,17.00,23.50,80,59.0,PA
16,117,NaN,15.75,10.00,81,34.0,NN
6,107,NaN,19.75,19.50,82,76.0,PA
25,126,Female,20.00,22.50,83,56.0,PA
27,128,Female,20.00,30.00,84,91.0,PA
26,127,Female,20.00,35.00,84,83.0,PA
39,140,Male,20.00,29.00,84,77.0,PA
13,114,Male,20.00,22.75,85,78.0,PA
36,137,Female,20.00,26.00,89,63.0,PA
23,124,Male,20.00,30.00,90,71.0,PA
9,110,Female,20.00,30.00,92,63.0,PA
0,101,Male,18.25,15.50,94,61.0,PA
10,111,Female,19.50,13.00,95,52.0,PA
7,108,Male,20.00,28.00,95,44.0,PA
4,105,Male,18.75,30.00,96,51.0,PA
15,116,Female,20.00,25.50,97,52.0,PA
14,115,Male,19.50,26.00,100,79.0,PA

# Thống kê dữ liệu bằng Pandas DataFrame

In [231]:
#Thống kê dữ liệu cho các cột số
grades.describe()

,Student ID,Project Phase 1,Project Phase 2,Mid-Semester Test,Final Exam
count,36.000000,36.000000,36.000000,36.000000,36.000000
mean,120.138889,18.347222,23.576389,71.861111,56.055556
std,11.642662,3.590303,7.540562,20.088593,20.520296
min,101.000000,0.000000,0.000000,26.000000,6.000000
25%,109.750000,17.937500,20.000000,58.750000,45.500000
50%,120.500000,19.750000,25.250000,78.500000,60.000000
75%,129.250000,20.000000,30.000000,86.000000,71.750000
max,140.000000,20.000000,35.000000,100.000000,91.000000

In [234]:
#Đếm số giá trị không null cho các cột
grades.count()

Student ID           36
Gender               33
Project Phase 1      36
Project Phase 2      36
Mid-Semester Test    36
Final Exam           36
Grade                36
dtype: int64

In [241]:
#Tìm giá trị lớn nhất cho một cột
grades['Final Exam'].max()

np.float64(91.0)

In [243]:
#Tìm giá trị nhỏ nhất cho một cột
grades['Final Exam'].min()

np.float64(6.0)

In [245]:
#Tìm giá trị median cho một cột
grades['Final Exam'].median()

np.float64(60.0)

In [250]:
#Tìm giá trị độ lệch tiêu chuẩn cho một cột
grades['Final Exam'].std()

np.float64(20.52029579909948)